.trash {
    width: 2%;

    cursor: pointer;
}

/* .avatar {
    width: 25%;
    margin: auto;

} */

.texte {
    display: block;
    padding: 1rem;
}

.bordure {
    border: solid #f5f6fa 0.3rem;
}

p {
    font-size:1rem;
}

@media (max-width: 700px) {
    p {
        font-size:0.5rem;
    }

    /* .avatar {
        width: 10%;
        
    } */

    .trash {
        width: 5%;
    }
}